{
  "id": "mantl-api",
  "container": {
    "type": "DOCKER",
    "docker": {
      "image": "{{ mantl_api_image }}:{{ mantl_api_image_tag }}",
      "network": "BRIDGE",
      "portMappings": [
        { "containerPort": 4001, "hostPort": 0, "protocol": "tcp" }
      ],
      "forcePullImage": true
    }
  },
  "instances": 1,
  "cpus": 0.1,
  "mem": 128,
  "uris": [{% if mantl_api_config_url != "" %}
    "{{ mantl_api_config_url }}" {% endif %}
  ],
  "env": {
    {% if do_consul_ssl %}"CONSUL_HTTP_SSL_VERIFY": "false",{% endif %}
    {% if do_marathon_ssl %}"MANTL_API_MARATHON_NO_VERIFY_SSL": "true",{% endif %}
    "MANTL_API_CONFIG_FILE": "{{ mantl_api_config_file }}",
    "MANTL_API_CONSUL": "{% if do_consul_ssl %}https{% else %}http{% endif %}://consul.service.consul:8500",
    "MANTL_API_MARATHON": "{% if do_marathon_ssl %}https{% else %}http{% endif %}://marathon.service.consul:8080",
    "VAULT_ADDR": "https://vault.service.consul:{{ vault_default_port }}",
    "VAULT_SKIP_VERIFY": "true",
    "MANTL_API_VAULT_TOKEN": "{{ mantl_api_token }}"
  },
  "labels": {
      "traefik.enable": "false"
  },
  "healthChecks": [
    {
      "protocol": "HTTP",
      "path": "/health",
      "gracePeriodSeconds": 5,
      "intervalSeconds": 10,
      "portIndex": 0,
      "timeoutSeconds": 10,
      "maxConsecutiveFailures": 5
    }
  ]
}